@media only screen and (max-device-width: 450px) {
    div#wrapper {
        width: 400px;
    }

    div#header {
        background-image: url(media-queries-phone.jpg);
        height: 93px;
        position: relative;
    }

    div#header h1 {
        font-size: 140%;
    }

    #content {
        float: none;
        width: 100%;
    }

    #navigation {
        float:none;
        width: auto;
    }
}
.column {
    
    width: 31%;
    margin-inline: 21px;
    display: inline-block;
    margin-top: 50px;
    overflow: scroll;
    
}




  
#general{
    background-image: url(../images/MG_6535.jpg);
    background-color: grey;
    background-blend-mode:luminosity;
    background-size: 1800px;
    background-attachment:fixed;
    text-align: center;
    text-decoration: solid;
    text-decoration-line: none;
    
 
}

#generall{
    
    background-color: black;
    background-blend-mode:luminosity;
    background-size: 1800px;
    background-attachment:fixed;
    text-align: center;
    text-decoration: solid;
    text-decoration-line: none;
    
   
}


body {
    
    background-attachment:fixed;
    text-align: center;
    text-decoration: solid;
    text-decoration-line: none;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

    

}
.item{
    color: white;
    display: inline ;
    text-align: center;
    margin-left: 50px;
    position: relative;
    top: -10px;
    text-decoration: solid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    

}
#logo{
    display: inline ;
}

header{
    margin-top: 75px;
    text-align: center;
    
}

body {
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: 1800px;
}
footer {
    background-color: black;

    color: white;
    margin-top: 7rem;
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 4rem ;
}
a:hover {
     text-decoration: solid;
   color: rgb(90, 90, 90);
}

/* about us page CSS by Nesrin Galal 49-11711 */

.thecards {
   margin-top: 80px;
}

.messagecard {
    margin-top: 30px;
}

/*The book CSS by Nesrin Galal 49-11711 */

body {
    overflow: visible;
    background-image: url("../media/bg.jpeg");
    background-size: 100%;
    background-attachment: fixed;
    
    /* transform: rotate(30deg); */
}

#flipbook-viewport{
    overflow:auto;
}

#container{
	position:absolute;
	top:55%;
	left:50%;
	right:50%;
    bottom: 20px;
}


.page {

    background: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#flipbook{
    
    margin: 0 auto;
    left:-500px;
    top:-250px;
    max-height: 350px;
    max-width: 4000px;
    overflow: hidden;
}


#front-cover{
    background-image: url("../images/MD\ BOOK\ draft\ 1\ copy.jpg");
}
#back-cover {
    background-image: url("../images/050.jpg");
}

#page-2 {
    background-image: url("../images/02.jpg");
    
}

#page-3 {
    background-image: url("../images/03.jpg") ;

    
}

#page-4 {
    background-image: url("../images/04.jpg");
}

#page-5 {
    background-image: url("../images//05.jpg");
}

#page-6 {
    background-image: url("../images//06.jpg");
}

#page-7 {
    background-image: url("../images/07.jpg");
}

#page-8 {
    background-image: url("../images/08.jpg");
}

#page-9 {
    background-image: url("../images/09.jpg");
}

#page-10 {
    background-image: url("../images/010.jpg");
}

#page-11 {
    background-image: url("../images/011.jpg");
}

#page-12 {
    background-image: url("../images/012.jpg");
}

#page-13 {
    background-image: url("../images/MD\ BOOK\ draft\ 1\ copy13.jpg");
}

#page-14 {
    background-image: url("../images/014.jpg");
}

#page-15 {
    background-image: url("../images/015.jpg");
}

#page-16 {
    background-image: url("../images/016.jpg");
}

#page-17 {
    background-image: url("../images/017.jpg");
}

#page-18 {
    background-image: url("../images/018.jpg");
}

#page-19 {
    background-image: url("../images/019.jpg");
}

#page-20 {
    background-image: url("../images/020.jpg");
}

#page-21 {
    background-image: url("../images/021.jpg");
}
#page-22{
    background-image: url("../images/022.jpg");
}#page-23{
    background-image: url("../images/023.jpg");
}
#page-24{
    background-image: url("../images//024.jpg");
}
#page-25{
    background-image: url("../images/025.jpg");
}
#page-26{
    background-image: url("../images/026.jpg");
}
#page-27{
    background-image: url("../images/027.jpg");
}
#page-28{
    background-image: url("../images/028.jpg");
}
#page-29{
    background-image: url("../images/MD\ BOOK\ draft\ 1\ copy29.jpg");
}
#page-30{
    background-image: url("../images/030.jpg");
}
#page-31{
    background-image: url("../images/031.jpg");
}
#page-32{
    background-image: url("../images/032.jpg");
}
#page-33{
    background-image: url("../images/033.jpg");
}
#page-34{
    background-image: url("../images/034.jpg");
}
#page-35{
    background-image: url("../images/035.jpg");
}
#page-36{
    background-image: url("../images/036.jpg");
}
#page-37{
    background-image: url("../images/037.jpg");
}
#page-38{
    background-image: url("../images/038.jpg");
}
#page-39{
    background-image: url("../images/039.jpg");
}
#page-40{
    background-image: url("../images/040.jpg");
}
#page-41{
    background-image: url("../images/041.jpg");
}
#page-42{
    background-image: url("../images/042.jpg");
}
#page-43{
    background-image: url("../images/043.jpg");
}
#page-44{
    background-image: url("../images/044.jpg");
}
#page-45{
    background-image: url("../images/045.jpg");
}
#page-46{
    background-image: url("../images/046.jpg");
}
#page-47{
    background-image: url("../images/047.jpg");
}










#flipbook .shadow,
#flipbook.shadow {
  -webkit-box-shadow: 0 4px 10px #666;
  -moz-box-shadow: 0 4px 10px #666;
  -ms-box-shadow: 0 4px 10px #666;
  -o-box-shadow: 0 4px 10px #666;
  box-shadow: 0 4px 10px #666;
}

#flipbook p, h1 {
    color: white
}



